@tailwind base;
@tailwind components;
@tailwind utilities;

.header{
    background:url(./assest/foundation-bottles-advertising-4-1.jpg);
    background-size: cover;
    background-position: center;
}
.ChooseUs{
    background: url(./assest/why\ choose\ section\ image.jpg);
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
}
.svg{
    background: url(./assest/download.svg);
    background-position: center;
    background-size: cover;
    background-color: rgba(255, 255, 255, 0.747);
}
#subBtn:hover{
    background-image: linear-gradient(#D97072,#6F3C5C);
    color: white;
    outline: none;
    transition: all 0.5s;
}
.rotate{
  rotate: 180deg;
  transition: all 0.3s;
}

